.android
.aur
.cache
.console-ninja
.java
.local
.mozilla
.npm
.nuget
.parallel
.pki
.vscode
Downloads
Images
Projects
PycharmProjects
.bash_history
.bash_logout
.bash_profile
.bash_profile.bak
.bashrc
.Xauthority
.profile
.dmrc
.xsession-errors
.xsession-errors.old
cv_debug.log
.config/autostart
.config/BraveSoftware
.config/Code
.config/create-next-app-nodejs
.config/dconf
.config/fontforge
.config/GitHub Desktop
.config/github-copilot
.config/glib-2.0
.config/Google
.config/google-chrome
.config/gtk-3.0
.config/inkscape
.config/JetBrains
.config/microsoft-edge
.config/nextjs-nodejs
.config/pulse
.config/mimeapps.list
.config/pavucontrol.ini